class Env {
  // Переключатель: true = локальный сервер, false = Railway
  static const bool useLocal = bool.fromEnvironment('LOCAL', defaultValue: false);

  static const String _localUrl   = 'http://YOUR_LOCAL_IP:8001';
  static const String _railwayUrl = 'https://YOUR_PROJECT.up.railway.app';

  static const String baseUrl = useLocal ? _localUrl : _railwayUrl;
}
